body {
  width: 400px;
}

.group-head {
  height: 50px;
  background-color: skyblue;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.group-title {
  flex: 1 0;
}

.tab {
  height: 40px;
  background-color: gray;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-left: 10px;
}
